[Desktop Entry]
Version=1.0
Type=Application
Name=WLEditor
Comment=WordStar-like Text Editor
GenericName=Text Editor
Exec=/usr/local/bin/wleditor %F
Icon=wledit
Terminal=false
StartupNotify=true
StartupWMClass=WLEditor
Categories=Development;TextEditor;Utility;
Keywords=editor;text;wordstar;programming;
MimeType=text/plain;text/x-c;text/x-c++;text/x-c++src;text/x-csrc;text/x-chdr;text/x-python;text/x-java;text/x-makefile;text/x-script;application/x-shellscript;text/x-cmake;text/x-qml;
